<html>

<head>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/padrao.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/ServicoObtencaoUsuarioLogado.js"></script>
    <script type="text/javascript" src="../js/controllers.js"></script>
    <script type="text/javascript" src="../js/Helper.js"></script>
    <script type="text/javascript">
        vincularElementoNgApp(window.angular, 'divEdicao', 'edicao');
    </script>
    <meta charset="utf-8" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" ng-app="navegacao" ng-controller="BarraNavegacaoController" ng-init="verificarUsuarioLogado()">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Nome do Site</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="Busca.html"><strong>Realizar uma busca</strong></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-show="{{ usuario != null }}">
                                <a href="Perfil.html?id={{ usuario.idUsuario }}">Perfil</a>
                            </li>
                            <li ng-show="{{ usuario == null }}">
                                <a href="Login.html">Login</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="divEdicao" ng-app="edicao" ng-controller="EdicaoController as controller" ng-init="carregarDados()">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">
                        {{ definirTitulo() }}
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txNomeMusica" class="control-label">Nome </label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="txNomeMusica" ng-model="musica.nome" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="cmbGeneros" class="control-label">Gênero </label>
                        </div>
                        <div class="col-xs-6">
                            <select id="cmbGeneros" class="form-control" ng-model="generoSelecionado" ng-options="genero.descricao for genero in generos">
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-2 col-xs-6">
                            <input type="text" class="form-control" id="txGenero" ng-model="generoNovo" />
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn" ng-click="adicionarNovoGenero()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                        </div>

                        <!--<div class="col-xs-2">
                                <label for="txGeneroMusica" class="control-label">Gênero </label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="txGeneroMusica" ng-model="musica.genero" />
                            </div>-->
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txaInformacoes" class="control-label">Informações </label>
                        </div>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="4" id="txaInformacoes" ng-model="musica.informacoes"> </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txaTags" class="control-label">Tags </label>
                        </div>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="4" id="txaTags" ng-model="musica.tags"> </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="cmbAlbuns" class="control-label">Álbum </label>
                        </div>
                        <div class="col-xs-6">
                            <select id="cmbAlbuns" class="form-control" ng-model="albumSelecionado" ng-options="album.nome + ' (' + album.ano + ')' for album in albuns">
                                </select>
                        </div>
                    </div>

                    <hr>
                    <h3>Novo álbum</h3>
                    <br>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txNomeAlbum" class="control-label">Nome </label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="txNomeAlbum" ng-model="albumNovo.nome" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txAnoAlbum" class="control-label">Ano </label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="txAnoAlbum" ng-model="albumNovo.ano" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="txCapaAlbum" class="control-label">Capa </label>
                        </div>
                        <div class="col-xs-8">
                            <input type="file" class="form-control" id="flAlbum" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="button" ng-click="adicionarNovoAlbum()" class="btn btn-primary col-xs-offset-9" value="Adicionar" />
                    </div>

                    <hr>
                    <h3>Artistas</h3>
                    <br>
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="cmbBandas" class="control-label">Banda </label>
                        </div>
                        <div class="col-xs-6">
                            <select id="cmbBandas" class="form-control" ng-model="bandaSelecionada" ng-options="banda.nome for banda in bandas">
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-2 col-xs-6">
                            <input type="text" class="form-control" id="txTag" ng-model="bandaNova" />
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn" ng-click="adicionarNovaBanda()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                        </div>

                        <!--<div class="col-xs-8">
                                <input type="text" class="form-control" id="txBanda" ng-model="musica.banda.nome" />
                            </div>-->
                    </div>

                    <hr>
                    <h3>Letra</h3>
                    <br>
                    <div class="form-group row">
                        <div class="col-xs-10">
                            <textarea class="form-control" rows="15" id="txaLetra" ng-model="musica.letra"> </textarea>
                        </div>
                    </div>

                    <hr>

                    <input type="button" ng-click="salvarAlteracoes()" class="btn btn-primary pull-right" value="Salvar" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>