<html>

<head>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css" href="../css/padrao.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="../js/ServicoObtencaoUsuarioLogado.js"></script>
    <script type="text/javascript" src="../js/Controllers.js"></script>
    <script type="text/javascript" src="../js/Helper.js"></script>
    <script type="text/javascript" src="../js/ServicoObtencaoUsuarioLogado.js"></script>

    <script type="text/javascript">
        vincularElementoNgApp(window.angular, 'divLogin', 'login');
    </script>

    <meta charset="utf-8" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" ng-app="navegacao" ng-controller="BarraNavegacaoController" ng-init="verificarUsuarioLogado()">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Nome do Site</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="Busca.html">Realizar uma busca</a>
                        </li>
                        <li>
                        	<a href="Relatorios.html">Relatórios</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-show="container.usuario">
	                    		<a href="#" ng-click="deslogar()">Log out</a>
                    		</li>
                            <li ng-show="container.usuario">
	                            <a href="Perfil.html?id={{ container.usuario.idUsuario }}">Perfil</a>
                        	</li>
                        	<li ng-hide="container.usuario">
	                            <a href="Login.html">Login</a>
                        	</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="divLogin" class="col-md-6 col-md-offset-3">
            <div class="panel panel-login panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <label id="lblHeader" class="font-weight-bold">Login</label>
                    </h3>
                </div>

                <div id="divLogin" ng-app="login" ng-controller="LoginController as login" class="panel-body">
                    <div class="form-group">
                        <input id="divUsuario" type="text" class="form-control" placeholder="Usuário" ng-model="login.usuario" required/>
                    </div>
                    <div id="divSenha" class="form-group has-feedback">
                        <input type="password" id="txSenha" class="form-control" placeholder="Senha" ng-model="login.senha" ng-change="login.validarSenhasIguais()"
                            required />
                        <span id="glpSenha" class="glyphicon form-control-feedback" aria-hidden="true" ng-model="login.confirmacaoSenha"></span>
                    </div>
                    <div class="pull-right">
                        <input type="button" id="btnRegistrar" class="btn btn-primary" ng-click="login.mostrarDivCadastro()" value="Registrar" required
                        />
                        <input type="button" id="btnConfirmarLogin" value="Log in" class="btn btn-primary" ng-click="login.realizarLogin()" />
                    </div>
                    <div id="divCadastro" style="display: none">
                        <div id="divConfirmacaoSenha" class="form-group has-feedback">
                            <input type="password" id="txConfirmacaoSenha" class="form-control" placeholder="Confirmação senha" ng-model="login.confirmacaoSenha"
                                ng-change="login.validarSenhasIguais()" required />
                            <span id="glpConfirmacaoSenha" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" type="email" placeholder="E-mail" ng-model="login.email" required />
                        </div>
                        <div class="pull-right">
                            <input type="submit" id="btnLogin" class="btn btn-primary" value="Log in" ng-click="login.esconderDivCadastro()" />
                            <input type="submit" id="btnConfirmarCadastro" class="btn btn-primary" value="Registrar" ng-click="login.confirmarCadastro()"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>